<% layout('layouts/nandr')%>
    <div class=" log_form mb-5">
        <form action="/new" method="POST" class="needs-validation" novalidate>
            <h2 class="text-center mb-3">Create a new task</h2>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="description" cols="30" rows="6"
                    required></textarea>
            </div>
            <div class="mb-3">
                <label for="duedate" class="form-label">Due date</label>
                <input name="duedate" type="date" class="form-control" id="duedate" required>
            </div>
            <div class="mb-3">
                <label for="priority" class="form-label">Priority</label>
                <select name="priority" id="priority" class="form-control" required>
                    <option value="high">high</option>
                    <option value="medium">medium</option>
                    <option value="low">low</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comments" class="form-label">Additional comments</label>
                <textarea name="comments" class="form-control" id="comments" cols="30" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-light wide-button">Add Task</button>
        </form>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>