<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="vh-100 bbody">
    <%- include("../partials/header")%>
        <main class="container-fluid main">
            <%-body%>

        </main>
        <%- include("../partials/footer")%>

            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/cardBorder.js"></script>


</body>

</html>