<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="d-flex flex-column vh-100">
    <nav class="log-nav">
        <ul>
            <li>
                <img class="icon" src="/icons/list.png" alt="none">
            </li>
            <li>
                <p>Taskify</p>
            </li>
        </ul>

    </nav>
    <main class="container d-flex justify-content-center">
        <%-body%>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"> </script>
    <script src="/js/formvalidation.js"></script>

</body>

</html>